{% extends "base.html" %}
{% block title %}
        Buscar
{% endblock %}
{% block content %}
<center><h1>Buscar</h1>
<form method="post" action="{{ url_for('login') }}">

    <p>Ingrese un nombre de usuario</p>
    <p><input name="username" type="text"> </p>
    </br>
    <p>Ingrese una ID</p>
    <p><input name="password" type="password"></p>
    <input type="submit" value="Buscar">
    <input type="button" value="Volver" onclick="location.href='http://localhost:3000'">
</form>
</center>
{% endblock %}