{% extends "base.html" %}
{% block title %}
        Buscar
{% endblock %}
{% block content %}
<center><h1>Inicio</h1>
<form method="post" action="{{ url_for('login') }}">

    <p>Ingrese su apodo</p>
    <p><input name="username" type="text" required placeholder="Nombre de usuario"> </p>
    </br>
    <p>Ingrese su contraseña</p>
    <p><input name="password" type="password" required placeholder="contraseña"></p>
    <input type="submit" value="Acceder" onclick="location.href='http://localhost:3000/cuenta'">
    <input type="button" value="Volver" onclick="location.href='http://localhost:3000'">
</form>
</center>
{% endblock %}
