{% extends "base.html" %}
{% block title %}
        Objetos
{% endblock %}
{% block content %}
<center><h1>Objetos</h1>

  {% for obj in object %}
  {% if obj.legalidad %}
  <p> nombre: {{ obj.nombre }} - legalidad: Si - codigo: {{ obj.codigo }} - precio: {{ obj.precio }} - dueño: {{ obj.dueno_act }} </br> </p>
  {% else %}
  <p> nombre: {{ obj.nombre }} - legalidad: No - codigo: {{ obj.codigo }} - precio: {{ obj.precio }} - dueño: {{ obj.dueno_act }} </br> </p>
  {% endif %}
  {% endfor %}

  <form method="get" action="{{ url_for('addobject2') }}">
      <p><h5>Agregar nuevo objeto:</h5></p>
      <p>Ingrese nombre del objeto:</p>
      <p><input name="name" type="text" placeholder="Nombre" required></p>
      <p>Legalidad: <input name="legal" type="checkbox" value="legal"></p>
      <p>Ingrese precio:</p>
      <p><input name="price" type="number" min="0" max="99999999999" value="150000"></p>
      <p>Ingrese apodo del dueno actual:</p>
      <p><input name="actual" type="text" placeholder="Dueno" required></p>

      <p><input type="submit" value="Añadir">
      <input type="button" value="Salir"onclick="location.href='http://localhost:3000'" ></p>
  </form></center>

</center>
{% endblock %}
