{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock %}
{% block content %}
<center><h1>Agregar una persona</h1>
<form method="post" action="{{ url_for('signup') }}">
    <p>Ingresa un apodo</p>
    <p><input name="username" type="text"></p>
    <p>Ingresa una clave</p>
    <p><input name="password" type="password"></p>
    <p>Ingrese nacionalidad</p>
    <p><input name="native" type="text"></p>
    <p>Ingrese contacto</p>
    <p><input name="contact" type="number"></p>
    <input type="submit" value="Registrar">
    <p><input type="button" value="Volver" onclick="href='location.http://localhost:3000/'" ></p>
</form></center>

{% endblock %}
