{% extends "base.html" %}
{% block title %}
        Usuarios
{% endblock %}
{% block content %}
<center><h1>Usuarios</h1>

  <form method="get" action="{{ url_for('search') }}">
      {% for usuario in user %}
      <p align="center" >Usuario: {{ usuario.apodo }} - contacto: {{ usuario.contacto }} - natividad: {{ usuario.nativo }} - cuenta: {{ usuario.id_c }}</br></p>
      {% endfor %}

      <p><input type="text" name="buscar_user" placeholder="Buscar usuario por apodo" ></p>
      <input type="submit" value="Buscar usuario" onclick="">
      <input type="button" value="Volver"onclick="location.href='http://localhost:3000'">
      <br>


  </form>
</center>
{% endblock %}
